%h2{:'data-bind' => "ifnot: user"}
  Tweets
%h2{:'data-bind' => "if: user"}
  Tweets for
  %span.name{:'data-bind' => "text: user.name "}
.btn-group#level_select{data: { toggle: 'buttons-radio'} }
  %button#regular.btn{type: 'button', data: { bind: 'click: select_level'}  }
    Regular
  %button#dumber.btn{type: 'button', data: { bind: 'click: select_level'}  }
    Dumber
  %button#smarter.btn{type: 'button', data: { bind: 'click: select_level'}  }
    Smarter
.tweets{:'data-bind' => "template: { name: 'external-tweet-template', foreach: timeline }"}

%script{type: 'text/html', id: 'external-tweet-template'}
  .tweet-external-container{:'data-bind' => "if: $data.retweeted_status"}
    .tweet-external{:'data-bind' => "template: { name: 'tweet-template', data: { tweet: $data.retweeted_status, external_tweet: $data } }"}
  .tweet-external-container{:'data-bind' => "ifnot: $data.retweeted_status"}
    .tweet-external{:'data-bind' => "template: { name: 'tweet-template', data: { tweet: $data, external_tweet: null } }"}

%script{type: 'text/html', id: 'tweet-template'}
  .tweet
    .span1.profile_image_container
      %a{:'data-bind' => "attr: { href: '/users/' + tweet.user.screen_name() } "}
        %img{:class => "img-rounded", :'data-bind' => "attr: { src: tweet.user.profile_image_url }" }

    .span11
      %p.name_container
        %a{:'data-bind' => "attr: { href: '/users/' + tweet.user.screen_name() } "}
          %span.name{:'data-bind' => "text: tweet.user.name "}
        %a{:'data-bind' => "attr: { href: '/users/' + tweet.user.screen_name() } "}
          %span.screen_name{:'data-bind' => "text: tweet.user.screen_name "}
        %span.time.pull-right
          %a{:'data-bind' => "ifnot: external_tweet, attr: { href: 'http://twitter.com/' + tweet.user.screen_name() + '/status/' + tweet.id() } "}
            %span.time_ago{:'data-bind' => "text: tweet.time_ago"}
          %span{:'data-bind' => "if: external_tweet"}
            %a{:'data-bind' => "if: external_tweet, attr: { href: 'http://twitter.com/' + external_tweet.user.screen_name() + '/status/' + external_tweet.id() } "}
              %span.time_ago{:'data-bind' => "text: tweet.time_ago"}
      .text.regular{ data: { bind: 'visible: $root.selected_level() == "regular" '}  }
        %p.text.regular{:'data-bind' => "text: tweet.decoded_text "}
      .text.dumber{ data: { bind: 'visible: $root.selected_level() == "dumber" '}  }
        .progress.progress-striped.active{:'data-bind' => "visible: tweet.enhanced_text.dumber().length <= 0"}
          .bar{:style => "width: 100%", :'data-bind' => "visible: tweet.enhanced_text.dumber().length <= 0"}
        %p.text.dumber{:'data-bind' => "if: tweet.enhanced_text.dumber().length > 0, text: tweet.enhanced_text.dumber"}
      .text.smarter{ data: { bind: 'visible: $root.selected_level() == "smarter" '}  }
        .progress.progress-striped.active{:'data-bind' => "visible: tweet.enhanced_text.smarter().length <= 0"}
          .bar{:style => "width: 100%", :'data-bind' => "visible: tweet.enhanced_text.smarter().length <= 0"}
        %p.text.smarter{:'data-bind' => "if: tweet.enhanced_text.smarter().length > 0, text: tweet.enhanced_text.smarter"}
      %p.retweet_attribution{:'data-bind' => "if: external_tweet"}
        Retweeted by
        %a{:'data-bind' => "attr: { href: '/users/' + external_tweet.user.screen_name() } "}
          %span.name{:'data-bind' => "text: external_tweet.user.name "}

- content_for :javascript do
  %script{ :type => 'text/javascript' }
    $(document).ready(function() { TimelinePage.initialize( { user: #{@user.to_json.html_safe}, timeline: #{@timeline.to_json.html_safe} } ); });
